@font-face
  font-family: Poppins
  src: url(../fonts/poppins-regular.ttf)
@font-face
  font-family: __0xd24185c488767bff8e7709fd4d2da964
  src: url(../fonts/__0xd24185c488767bff8e7709fd4d2da964.woff)