@font-face
  font-family: Montserrat-Alternates-Semibold
  src: url(../fonts/montserrat-alternates/montserrat-alternates-semibold.ttf)
@font-face
  font-family: Montserrat-Alternates-Bold
  src: url(../fonts/montserrat-alternates/montserrat-alternates-bold.ttf)

@font-face
  font-family: Open-Sans
  src: url(../fonts/open-sans/open-sans-regular.ttf)