.icon
  background-position: center center
  background-size: contain
  display: inline-block
  background-repeat: no-repeat

  &-menu
    background-image: url(../icons/menu.svg)
  &-email
    background-image: url(../icons/email.svg)
  &-github
    background-image: url(../icons/github.svg)
  &-linkedin
    background-image: url(../icons/linkedin.svg)
  &-twitter
    background-image: url(../icons/twitter.svg)
  &-instagram
    background-image: url(../icons/instagram.svg)
  &-bitcoin
    background-image: url(../icons/bitcoin.svg)
  &-ethereum
    background-image: url(../icons/ethereum.svg)
  &-chainlink
    background-image: url(../icons/chainlink.svg)
  &-arbitrum
    background-image: url(../icons/arbitrum.svg)

.icon-nav
  background-position: 50%
  background-size: contain
  display: inline-block
  background-repeat: no-repeat
  margin-top: -30px
  &-home
    -webkit-mask-image: url(../icons/home.svg)
    mask-image: url(../icons/home.svg)
    -webkit-mask-size: cover
    mask-size: cover
    background-color: grey
  &-project
    -webkit-mask-image: url(../icons/project.svg)
    mask-image: url(../icons/project.svg)
    -webkit-mask-size: cover
    mask-size: cover
    background-color: grey
  &-blog
    -webkit-mask-image: url(../icons/blog.svg)
    mask-image: url(../icons/blog.svg)
    -webkit-mask-size: cover
    mask-size: cover
    background-color: grey
  &-contact
    -webkit-mask-image: url(../icons/contact.svg)
    mask-image: url(../icons/contact.svg)
    -webkit-mask-size: cover
    mask-size: cover
    background-color: grey

.nuxt-link-exact-active
  span
    color: #00dc82

.nuxt-link-exact-active
  .icon-nav
    background-color: #00dc82