@import "vars.sass"
@import "font.sass"
@import "icons.sass"

body
  background-color: $cDark
  font-family: "Poppins", "sans-serif"
  color: $cWhite
p,
a,
div,
button
  font-size: 16px
input,
textarea,
button,
select,
a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

#__tsparticles
  position: fixed
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: 100%

.__p_index
  @apply mt-24

::-webkit-scrollbar
    width: 6px
 
::-webkit-scrollbar-track
    background-color: $cDarkOver
    border-radius: 6px
 
::-webkit-scrollbar-thumb
    border-radius: 6px
    background-color: $cPrimary

@media (max-width: 1600px)

@media (max-width: 1200px)
  .__p_index
    @apply mt-16
@media (max-width: 992px)

@media (max-width: 768px)
  .__p_index
    @apply mt-8

