@import "../vars.sass"

.screens
  @apply container mx-auto w-full px-24
.footer
  @apply mt-32 py-6 flex justify-between items-center
.socialGrid
  @apply w-full flex justify-between items-center
.block
  font-size: 14px
  color: $cBlock
.social
  @apply flex gap-4
.copyright
  @apply mt-12 py-4 text-right
  border-top: 1px solid $cBlock


@media (max-width: 992px)

@media (max-width: 1200px)

@media (max-width: 768px)
  .screens
    @apply px-6