@import "../vars.sass"

.screens
  @apply container mx-auto px-24
.textPrimary
  font-size: 18px
  color: var(--color-primary)
.gridHero
  @apply grid grid-cols-2 gap-6
.heroH2
  @apply text-5xl
  font-family: "_0xd24185c488767bff8e7709fd4d2da964", "sans-serif"
  line-height: 64px
.heroProfile
  @apply flex justify-end items-center
.heroProfileImgWrap
  width: 300px
  height: 300px
  position: relative
  border: 2px solid var(--color-white)
  &::before
    content: ""
    z-index: -2
    position: absolute
    width: 300px
    height: 300px
    bottom: -10px
    left: -10px
    border: 2px solid var(--color-primary)
    transition: .4s all
  &:hover::before
    bottom: -8px
    left: -8px
.heroProfileImg
  width: 100%
  height: 100%
.block
  font-size: 18px
  color: var(--color-block)
.button
  @apply py-3 px-6
  font-family: "_0xd24185c488767bff8e7709fd4d2da964", "sans-serif"
  border: 2px solid var(--color-white)
  transition: .4s all
  z-index: 9
  &:hover
    background-color: var(--color-white)
    color: var(--color-dark)
.pageFlex
  @apply flex justify-start items-center
.pageFlexCenter
  @apply flex justify-center items-center
.pageText
  @apply text-center
.page
  @apply text-left
.h1
  @apply text-6xl
.h2
  @apply text-5xl
  font-family: "_0xd24185c488767bff8e7709fd4d2da964", "sans-serif"
  line-height: 64px
.h3
  @apply text-4xl
  font-family: "_0xd24185c488767bff8e7709fd4d2da964", "sans-serif"
.projectGrid
  @apply mt-16 grid grid-cols-4 gap-12
.projectAction
  @apply mt-16 flex justify-center
.techList
  display: grid
  grid-template-columns: repeat(2, minmax(140px, 200px))
  padding: 0px
  margin: 20px 0px 0px
  overflow: hidden
  list-style: none
  li
    @apply my-1 pl-6
    font-size: 18px
    color: var(--color-block)
    position: relative
    &::before
      margin-top: 5px
      content: "▹"
      position: absolute
      left: 0px
      color: var(--color-primary)
      line-height: 12px
      text-align: middle


@media (max-width: 1600px)

@media (max-width: 1200px)

@media (max-width: 992px)
  .screens
    @apply px-6
  .gridHero
    @apply grid grid-cols-1 gap-12
  .heroH2
    @apply text-4xl
  .heroProfile
    @apply row-start-1 justify-start
  .projectGrid
    @apply mt-6 grid grid-cols-2 gap-6

@media (max-width: 768px)
  .projectGrid
    @apply mt-6 grid grid-cols-1 gap-6
    
@media (max-width: 512px)